html {
  scroll-behavior: smooth;
  background: rgba(0,0,0,0.8);
}

.my-section {
  height: 100vh;
  width: 100vw;
}

.my-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-background {
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url(/img/background-orig.jpg); 
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}